p
{
  display: flex;
  justify-content: center;
}

img
{
  flex-grow: 0;
  flex-basis:content;
}

div
{
  display: flex;
}

.main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #101010;
}

.picture
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}